/*Одинадцятий паршал*/

/*Постоянные клиенты*/
.clients {
    @include section(60px, 60px, var(--primary-text-color));

    @media screen and (min-width: 1200px) {
        @include section(94px, 94px, var(--primary-text-color));
    }
}

.clients__container {
    @media screen and (min-width: 1200px) {
        width: 1170px;
        height: 184px;
    }
}
.client {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 32px;
        line-height: 1.16;
    }
}

.client__list {
    display: flex;
    gap: 30px;
}
.client__list {
    @include list(flex, 30px, row, wrap);

    @media screen and (min-width: 1200px) {
        @include list(flex, 30px, row, null);
        text-align: center;
    }
}


.client__link {
    display: flex;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: var(--anim);

    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }

    &:hover .client__icons,
    &:focus .client__icons {
        fill: var(--accent-color);
    }
}

.client__icons {
    fill: #AFB1B8;
}