/* Шістнадцятий паршал*/

/* footer */
.container__footer {
    padding: 0 15px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.container__footer-logo {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-grow: 1;
    }
}

.footer {
    background-color: var(--background-color-hero);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }

    &__link {
        display: block;
        padding-left: 0;

        text-align: center;
        transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);   
        @media screen and (min-width: 1200px) {
            text-align: start;
            transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__join {
        margin-top: 60px;
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
            margin-top: 0;
            margin-bottom: 0;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 70px;
            margin-right: 93px;
        }
    }
}

.logo-link {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        justify-content: start;
    }
}

.footer__contact {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 76px;
        justify-content: flex-start;
    }
}

.contact {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    margin-top: 20px;
}

.contact__list {
    color: var(--additional-color);
    text-decoration: none;
}

.item {
    margin-bottom: 9px;
}
.item:last-child {
    margin-bottom: 0px;
}

.logo__footer {
    color: var(--additional-color);
}

.join {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--additional-color);

    @media screen and (min-width: 1200px) {
        display: inline-block;
    }
}

.footer__join-form {
    display: block;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 60px;
    }

    @media screen and (max-width: 1199px) {
        width: 100%;
    }
}

.icon__item:not(:last-child) {
    margin-right: 10px;
}

.icon__item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--additional-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);   
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer__icons {
    fill: var(--additional-color);
}

.footer__icons-join {
    margin-left: 10px;
    fill: var(--additional-color);
}

.form__sign-input {
    padding: 15px 16px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (min-width: 768px) {
        width: 450px;
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.form__sign {
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.footer__button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    align-items: center;

    width: 200px;
    height: 50px;
    border: transparent;
    text-decoration: none;
    padding-left: 29px;
    margin-left: 12px;
    margin-top: 20px;

    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--additional-color);
    background-color: var(--accent-color);

    @media screen and (min-width: 1200px) {
        margin-top: 0;
    }
}